body{
    color: #000000;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    margin:0;
    padding: 0;
    
}
.container{
    width: 70%;
    /* padding: 1em; */
    text-align: center;
    border: 1px solid #000;
    margin:30px auto;

}
.container h1{
    font-size:20px;
}
.cabecera{
    background-color: royalblue;
    margin: 0 0;
    padding: 0 0;
    box-shadow: 20px 20px 50px #888888;

}
.cabecera p{
    display: block;
    margin: 0 0;
    padding: 15px 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
    text-align: left;
}
footer{
    border:1px solid #000;
    background-color:rosybrown;
    color: black;

}
